$primaryblue : rgb(15, 63, 85);
$lightblue : rgb(115, 177, 206);
$bluetransparent : rgba(15, 63, 85, 0.253);
$primarygrey : rgb(179, 177, 201);
$alarmingred : rgb(175, 56, 56);

$standardShadow : 2px 5px 15px 5px rgba(0,0,0,0.86);
$standardRadius : 5px;